*{
    font-family: "Roboto", 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.container{
    background-color: rgb(217, 230, 255);
}
.dbutton{
   position: relative;
}
.darkBtn{
    position: absolute;
    right: 35px;
    top: 15px;
    width: 100px;
    border-radius: 10%;
    background: white;
}
.heading{
    padding: 30px;
    font-size: 50px;
    position: relative;
}
.heading::before{
    position: absolute;
    bottom: 29px;
    margin-left: 19px;
    content: "";
    width: 110px;
    height: 7px;
    background-color: rgb(44, 55, 199);
}

.header{
    margin: 0;
    color: rgb(236, 230, 230);
}
Table{
    margin:0 !important;
}
/* .number{
    background: #f2a365;
}
.stateName{
    background: #f2a365;
}

.confirm{
    background: #f2a365;
}
.active{
    background-color: #f2a365;

}
.recov{
    background: #f2a365;
}
.death{
    background: #f2a365;
} */
.stateNameText{
    
}

.confirmText{
    color: rgb(6, 8, 133);
}
.activeText{
    color: rgb(189, 29, 1);

}
.recovText{
    color: green;
}

.changConf{
    font-size: 12px;
    color: red;
}

.changRec{
    font-size: 12px;
    color: rgb(17, 184, 45);
}

.changDec{
    font-size: 12px;
    color: rgb(223, 57, 35);
}