
.container{
    margin: 50px 0;
    font-family: "Roboto";
    font-weight: 500;
    background-color: rgb(217, 230, 255);
}
.heading{
    padding-bottom: 50px;
    font-size: 60px;
    position: relative;
    
}
.heading::before{
    position: absolute;
    bottom: 50px;
    margin-left: 19px;
    content: "";
    width: 180px;
    height: 7px;
    background-color: rgb(44, 54, 199);
}


.card{
    margin: 0 2% !important;
    -webkit-box-shadow: 18px 15px 32px -12px rgba(0,0,0,0.7) !important;
    -moz-box-shadow: 18px 15px 32px -12px rgba(0,0,0,0.7) !important;
    box-shadow: 18px 15px 32px -12px rgba(0,0,0,0.7) !important;
}
.infected{
    border-bottom: 10px solid rgba(0,0,225,0.5);
}
.infected:hover{
    background-color: rgb(148, 186, 255);
}
.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}
.recovered:hover{
    background-color: rgb(151, 255, 148);
}
.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5);
}
.deaths:hover{
    background-color: rgb(255, 155, 148);
}

@media(max-width:770px){
    .card{
        margin: 2% 0 !important;
    }
}