.footer{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 7vh;
    background-color: darkblue;
    color: white;
}
.footer a{
    margin-top:17px;

}
.footer a,
.footer a:hover
{
    text-decoration: none;
    color: white;
}